<div class="users-container">
  <div class="users-table-filter-wrap">
    <div class="users-table-filter">
      <mat-form-field>
        <mat-label>{{"app.subject.filter.label" | translate}}</mat-label>
        <input matInput (keyup)="applyFilter($event)" value="{{queryFilter}}">
        <button mat-button *ngIf="queryFilter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="button-add-new-users" *ngIf="hasTeacherPermission()">
      <button mat-icon-button
              class="button-crud"
              matTooltip='Add new user'
              (click)="toggleNewCourseRow()"
      >
        <mat-icon *ngIf="!showNewSubjectRow">add</mat-icon>
        <mat-icon *ngIf="showNewSubjectRow">remove</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="showNewSubjectRow" class="add-new-users-wrap">

    <div class="add-new-users-inputs">
      <mat-form-field>
        <mat-label>
          login
        </mat-label>
        <input matInput #login>
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          password
        </mat-label>
        <input matInput #password>
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          email
        </mat-label>
        <input matInput #email>
      </mat-form-field>
      <button mat-icon-button
              class="button-crud"
              matTooltip='Add'
              (click)="addNewNewUser(login.value, password.value, email.value)"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>


  <div class="users-table-wrap">
    <table mat-table [dataSource]="dataSource" matSort class="users-table">

      <!-- Name Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          User Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
      </ng-container>

      <ng-container matColumnDef="xxx">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="users-table-buttons">
          <button mat-icon-button
                  *ngIf="element.role != 'USER'"
                  class="button-crud"
                  matTooltip='change to user'
                  (click)="switchToUser(element.id)">
            <mat-icon>face</mat-icon>
          </button>
          <button mat-icon-button
                  *ngIf="element.role != 'TEACHER'"
                  class="button-crud"
                  matTooltip='change to teacher'
                  (click)="switchToTeacher(element.id)">
            <mat-icon>record_voice_over</mat-icon>
          </button>
          <button mat-icon-button
                  *ngIf="element.role != 'ADMIN'"
                  class="button-crud"
                  matTooltip='change to admin'
                  (click)="switchToAdmin(element.id)">
            <mat-icon>star_rate</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'archived-data': row.archived}"></tr>
    </table>
  </div>
</div>
