<div class="courses-container">

  <div class="curses-table-filter-wrap">
    <div class="curses-table-filter">
      <mat-form-field>
        <mat-label>{{"app.course.filter.label" | translate}}</mat-label>
        <input matInput (keyup)="applyFilter($event)" value="{{queryFilter}}">
        <button mat-button *ngIf="queryFilter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="button-add-new-course" *ngIf="hasTeacherPermission()">
      <button mat-icon-button
              class="button-crud"
              matTooltip='{{"app.course.button.create.new.label" | translate}}'
              (click)="toggleNewCourseRow()"
      >
        <mat-icon *ngIf="!showNewCourseRow">add</mat-icon>
        <mat-icon *ngIf="showNewCourseRow">remove</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="showNewCourseRow" class="add-new-course-wrap">
    <div class="add-new-course-inputs">
      <mat-form-field>
        <mat-label>
          {{"app.course.table.header.name.label" | translate}}
        </mat-label>
        <input matInput #name>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" #startDate>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" #endDate>
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <button mat-icon-button
              class="button-crud"
              matTooltip='{{"app.course.button.create.new.label" | translate}}'
              (click)="addNewCourse(name.value, startDate.value, endDate.value)">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>

  <div class="curses-table-wrap">
    <table mat-table [dataSource]="dataSource" matSort class="curses-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"app.course.table.header.name.label" | translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"app.course.table.header.start.date.label" | translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{formatDateToString(element.start)}} </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"app.course.table.header.end.date.label" | translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{formatDateToString(element.end)}} </td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="curses-table-buttons">
          <ng-template [ngIf]="!element.archived">
            <button mat-icon-button
                    *ngIf="hasTeacherPermission()"
                    class="button-crud"
                    matTooltip='{{"app.course.button.edit.tooltip" | translate:{name: element.name} }}'
                    routerLink="/courses/{{element.id}}/edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
                    *ngIf="hasTeacherPermission()"
                    class="button-crud"
                    matTooltip='{{"app.course.button.stop.tooltip" | translate:{name: element.name} }}'
                    (click)="stopCourse(element.id)">
              <mat-icon>stop</mat-icon>
            </button>
            <button mat-icon-button
                    *ngIf="hasTeacherPermission()"
                    class="button-crud"
                    matTooltip='{{"app.course.button.delete.tooltip" | translate:{name: element.name} }}'
                    (click)="deleteCourse(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button
                    class="button-crud"
                    matTooltip='{{"app.course.button.goto.tooltip" | translate:{name: element.name} }}'
                    routerLink="/courses/{{element.id}}">
              <mat-icon>forward</mat-icon>
            </button>
          </ng-template>
          <ng-template [ngIf]="element.archived">
            <button mat-icon-button
                    *ngIf="hasTeacherPermission()"
                    class="button-crud"
                    matTooltip='{{"app.course.button.unarchive.tooltip" | translate:{name: element.name} }}'
                    (click)="unarchiveCourse(element.id)">
              <mat-icon>unarchive</mat-icon>
            </button>
          </ng-template>

        </td>
      </ng-container>

      <!-- this is fine, idk why Intellij thinks that, its error todo fix this issue-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'archived-data': row.archived}"></tr>
    </table>
  </div>


</div>
