<div class="home-item-subjects-container">
  <div class="subject-name" *ngFor="let element of subjectsModels"
       (click)="redirectToSubject(element.subjectId)">
    {{element.subjectName}}
  </div>
</div>

