.home-item-subjects-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.subject-name {
  color: white;
  flex: 1;
  padding: 10px;
  background-color: var(--blue-color);
  border-radius: 25px;
  display: flex;
  margin-top: 19px;
}


.subject-name:hover {
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
}
