<div class="courses-lesson-list-container">
  <div class="courses-lesson-list-menu">
    <div class="courses-lesson-list-menu-item">
      <mat-icon
        [ngClass]="{
        'active-green': showPassed,
        'inactive': !showPassed}"
        (click)="showPassed = !showPassed"
      >
        check
      </mat-icon>
    </div>

    <div class="courses-lesson-list-menu-item">
      <mat-icon
        [ngClass]="{
        'active-orange': showUnfinished,
        'inactive': !showUnfinished}"
        (click)="showUnfinished = !showUnfinished"
      >
        create
      </mat-icon>
    </div>
    <div class="courses-lesson-list-menu-item">
      <mat-icon
        [ngClass]="{
        'active-red': showFail,
        'inactive': !showFail}"
        (click)="showFail = !showFail"
      >
        clear
      </mat-icon>
    </div>
  </div>

  <div *ngIf="!courseLessonList || courseLessonList.length === 0" class="course-no-lesson">
    No lessons
  </div>

  <div *ngFor="let lesson of activeItems()" class="course-lesson-wrap">
    <div [ngSwitch]="lesson.state" class="course-lesson-state">
      <ng-template [ngSwitchCase]="'FAIL'">
        <mat-icon class="active-red">clear</mat-icon>
      </ng-template>
      <ng-template [ngSwitchCase]="'PASSED'">
        <mat-icon class="active-green">check</mat-icon>
      </ng-template>
      <ng-template [ngSwitchCase]="'UNFINISHED'">
        <mat-icon class="active-orange">create</mat-icon>
      </ng-template>
    </div>
    <div class="course-lesson-name" [ngClass]="{active: activeLesson === lesson.id}">
      <button mat-button
              (click)="redirectToLesson(lesson.id)">
        {{lesson.name}}
      </button>
    </div>
  </div>
</div>
