.courses-container {
  margin: 10px;
}

.curses-table-filter-wrap {
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 10px 20px;
  z-index: 2;
  margin-bottom: -10px;
  border-radius: 20px;
  border-bottom: 1px dotted black;
  color: black;
  background-color: white;
  box-shadow: 0 0 25px 4px var(--shadow-color);
}

.button-add-new-course {
  margin: auto;
}

.curses-table-filter {
  width: 100%;
  color: var(--blue-color-dark);
}

mat-form-field {
  width: 100%;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: var(--blue-color-dark);
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--blue-color-dark);
}

/* Change label color on focused */
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  font-style: italic;
}

.add-new-course-wrap {
  display: flex;
  overflow: auto;
  flex-direction: column;
  position: relative;
  z-index: 2;
  margin: 10px 25px 10px 25px;
  border-radius: 0px 0px 25px 25px;
  color: white;
  background-color: var(--gray-color-light);
  box-shadow: 0 0 25px 4px var(--shadow-color);
}

.add-new-course-title {
  display: flex;
  color: black;
}

.add-new-course-inputs {
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.add-new-course-inputs mat-form-field {
  margin: 5px;
}

.add-new-course-subject-select {
  background-color: white;
  color: var(--blue-color-dark);
}

::ng-deep .subjects-select .mat-select-value {
  color: var(--blue-color-dark);
}

::ng-deep .subjects-select .mat-select-arrow {
  color: var(--blue-color-dark);
}

::ng-deep .subjects-select .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow {
  color: var(--blue-color-dark) !important;
}

.curses-table-wrap {
  z-index: 1;
  display: flex;
  margin: 0 20px;
  box-shadow: 0 0 25px 4px var(--shadow-color);

}

.curses-table {
  width: 100%;
  background-color: var(--gray-color-light);
}

.mat-header-cell {
  color: black;
  border-color: black;
}

.mat-cell {
  color: black;
  border-color: black;
}

.mat-row:hover {
  background-color: white;
}

.button-crud {
  color: var(--blue-color);
}

.archived-data {
  box-shadow: inset 0px 0px 6px 2px var(--shadow-color);
  background-color: #ababab;
}

.curses-table-buttons {
  text-align: center;
}

button:hover {
  background-color: var(--gray-color-light);
}
