.home-item-courses-container {
  cursor: pointer;
}

.course {
  color: white;
}

.course-type {
  display: inline-block;
  padding: 5px;
  border-radius: 25px 25px 25px 25px;
  background-color: var(--blue-color-dark);
}

.course-name {
  word-break: break-word;
  margin-top: -10px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 0 25px 25px 25px;
  background-color: var(--blue-color);
  display: block !important;
}

.margin-left-20 {
  margin-right: 20px;
}

.margin-left-45 {
  margin-right: 45px;
}

.course-type:hover {
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
}

.course-name:hover {
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
}

.course-buttons {
  display: inline-block;
  position: relative;
  float: right;
  margin-top: -40px;
  color: var(--blue-color-dark);
}

.more-button {
  color: white;
  background-color: var(--blue-color-dark);
}

.more-button:hover {
  background-color: var(--blue-color-light);
}
