<div class="home-item-courses-container">
  <div class="course" *ngFor="let element of courseModels">
    <div class="course-type" (click)="redirectToSubject(element.subjectId)">
      {{element.subject}}
    </div>
    <div class="course-name"
        [ngClass]="{
        'margin-left-45': hasTeacherPermission(),
        'margin-left-20': !hasTeacherPermission()
        }"
         (click)="redirectToCourse(element.courseId)">
      {{element.name}}
    </div>
    <div class="course-buttons" *ngIf="hasTeacherPermission()">
      <button class="more-button" mat-icon-button [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="more-menu-hidden">
        <button mat-menu-item
                *ngIf="hasTeacherPermission()"
                class="button-crud"
                matTooltip='{{"app.course.button.edit.tooltip" | translate:{name: element.name} }}'
                routerLink="/courses/{{element.courseId}}/edit">
          <mat-icon>edit</mat-icon>
          <span>{{"app.label.edit" | translate}}</span>
        </button>

        <button mat-menu-item
                *ngIf="hasTeacherPermission()"
                class="button-crud"
                matTooltip='{{"app.course.button.stop.tooltip" | translate:{name: element.name} }}'
                (click)="stopCourse(element.courseId)">
          <mat-icon>stop</mat-icon>
          <span>{{"app.label.stop" | translate}}</span>
        </button>

        <button mat-menu-item
                *ngIf="hasTeacherPermission()"
                class="button-crud"
                matTooltip='{{"app.course.button.delete.tooltip" | translate:{name: element.name} }}'
                (click)="deleteCourse(element.courseId)">
          <mat-icon>delete</mat-icon>
          <span>{{"app.label.delete" | translate}}</span>
        </button>

      </mat-menu>
    </div>
  </div>
</div>

