<div class="subjects-container">
  <div class="subjects-table-filter-wrap">
    <div class="subjects-table-filter">
      <mat-form-field>
        <mat-label>{{"app.subject.filter.label" | translate}}</mat-label>
        <input matInput (keyup)="applyFilter($event)" value="{{queryFilter}}">
        <button mat-button *ngIf="queryFilter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="button-add-new-subject" *ngIf="hasTeacherPermission()">
      <button mat-icon-button
              class="button-crud"
              matTooltip='{{"app.subject.button.create.new.label" | translate}}'
              (click)="toggleNewCourseRow()"
      >
        <mat-icon *ngIf="!showNewSubjectRow">add</mat-icon>
        <mat-icon *ngIf="showNewSubjectRow">remove</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="showNewSubjectRow" class="add-new-subject-wrap">

    <div class="add-new-subject-inputs">
      <mat-form-field>
        <mat-label>
          {{"app.subject.table.header.name.label" | translate}}
        </mat-label>
        <input matInput #name>
      </mat-form-field>
      <button mat-icon-button
              class="button-crud"
              matTooltip='{{"app.subject.button.create.new.label" | translate}}'
              (click)="addNewSubject(name.value)"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>


  <div class="subjects-table-wrap">
    <table mat-table [dataSource]="dataSource" matSort class="subjects-table">

      <!-- Name Column -->
      <ng-container matColumnDef="subjectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"app.subject.table.header.name.label" | translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.subjectName}} </td>
      </ng-container>

      <ng-container matColumnDef="xxx">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="subjects-table-buttons">
          <ng-template [ngIf]="!element.archived">
            <button mat-icon-button
                    *ngIf="hasTeacherPermission()"
                    class="button-crud"
                    matTooltip='{{"app.subject.button.edit.tooltip" | translate:{name: element.subjectName} }}'
                    (click)="openEditSubjectDialog(element.subjectId)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
                    *ngIf="hasTeacherPermission()"
                    class="button-crud"
                    matTooltip='{{"app.subject.button.delete.tooltip" | translate:{name: element.subjectName} }}'
                    (click)="deleteSubject(element.subjectId)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button
                    class="button-crud"
                    matTooltip='{{"app.subject.button.goto.tooltip" | translate:{name: element.subjectName} }}'
                    routerLink="/subjects/{{element.subjectId}}">
              <mat-icon>forward</mat-icon>
            </button>
          </ng-template>
          <ng-template [ngIf]="element.archived">
            <button mat-icon-button
                    *ngIf="hasTeacherPermission()"
                    class="button-crud"
                    matTooltip='{{"app.course.button.unarchive.tooltip" | translate:{name: element.subjectName} }}'
                    (click)="unarchiveSubject(element.subjectId)">
              <mat-icon>unarchive</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'archived-data': row.archived}"></tr>
    </table>
  </div>
</div>
