<div class="home-container">
  <app-home-alerts></app-home-alerts>

  <div class="row">
    <div class="column">
      <app-home-item-container title="{{'app.home.item.course.title' | translate}}" link="/courses">
        <app-home-item-courses class="app-home-item"></app-home-item-courses>
      </app-home-item-container>
    </div>

    <div class="column">
      <app-home-item-container title="{{'app.home.item.subject.title' | translate}}" link="/subjects">
        <app-home-item-subjects class="app-home-item"></app-home-item-subjects>
      </app-home-item-container>
    </div>
  </div>

</div>
