.top-menu-container {
  background-color: var(--blue-color-dark);
  color: white;
  display: flex;
  align-items: center;
}

.menu-item {
  margin: 3px !important;
}

.menu-item:first-child {
  margin-left: 40px !important;
}

.menu-item:hover {
  background-color: #4a95ff;
  cursor: pointer;
  vertical-align: middle;
}

.more-button {
  margin-left: auto;
}

.more-menu-hidden {
  background-color: var(--blue-color);
}

.more-menu-hidden-button:hover {
  background-color: #4a95ff !important;
}

.menu-visible-button {
  float: left;
  color: white;
  position: absolute;
  background-color: var(--blue-color);
  border-radius: 0 0 100% 0;
  height: 30px;
  width: 30px;
  z-index: 3;
  padding: 3px;
  user-select: none;
  top: 0;
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
}

.menu-visible-button:hover {
  background-color: var(--blue-color-light);
  cursor: pointer;
}
