<div>
  <div *ngIf="isLoggedIn() && showMenu">
    <div class="top-menu-container">

      <button class="menu-item" mat-button routerLink="/home" [matTooltipShowDelay]="1000" matTooltip="Home">
        <mat-icon>home</mat-icon>
      </button>

      <button class="menu-item" mat-button routerLink="/courses" [matTooltipShowDelay]="1000" matTooltip="Curses">
        <mat-icon>menu_book</mat-icon>
      </button>

      <button class="menu-item" mat-button routerLink="/subjects" [matTooltipShowDelay]="1000" matTooltip="Subjects">
        <mat-icon>category</mat-icon>
      </button>

      <button class="menu-item" mat-button routerLink="/usermanagement" [matTooltipShowDelay]="1000" matTooltip="User management"
      *ngIf=hasAdminPermission()>
        <mat-icon>supervisor_account</mat-icon>
      </button>

      <button class="menu-item more-button" mat-icon-button [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="more-menu-hidden">
        <button class="more-menu-hidden-button" mat-menu-item routerLink="/questionnaire/Personality">
          <mat-icon>article</mat-icon>
          <span>Questionnaire</span>
        </button>
        <button class="more-menu-hidden-button" mat-menu-item (click)="logout()">
          <mat-icon>close</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="menu-visible-button" (click)="menuVisibleClick()" *ngIf="isLoggedIn()">
    <a *ngIf="showMenu">
      <mat-icon>menu_open</mat-icon>
    </a>
    <a *ngIf="!showMenu">
      <mat-icon>menu</mat-icon>
    </a>
  </div>
</div>
