<mat-form-field class="question-open-answer">
  <mat-label>{{'app.questionnaire.question.open.user.answer.label' | translate}}</mat-label>
  <textarea matInput (change)="onChangeEvent($event.target.value)"></textarea>
</mat-form-field>
<!-- todo make function that return user input-->
