.question-open-answer {
  width: 100%;
}

::ng-deep .mat-form-field .mat-form-field-empty {
  /*color: gray;*/
}

/* input color class */
::ng-deep input.mat-input-element {
  /*color: #484a4c;*/
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  /*color: black;*/
}
/* Change label color on focused */
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  /*color: black;*/
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  /*background-color: #00b400;*/
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  /*background-color: black;*/
}
