.answers-one-select-container {

}

::ng-deep .mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: black;
  background-color: white;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--blue-color);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--blue-color);
}

::ng-deep .mat-radio-label-content {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.radio-button-answer-container {
  padding: 5px;
}

.radio-button-answer-container:hover {
  background-color: var(--blue-color);
  border-radius: 25px;
  color: white;
}
