<div class="answers-one-select-container">
  <mat-radio-group aria-label="Select an option">
    <div *ngFor="let answer of answers" class="radio-button-answer-container">
      <mat-radio-button (change)="onChange(answer.key)"
                        value="{{answer.key}}"
      >
        <div>{{answer.text}}</div>
      </mat-radio-button>
    </div>
  </mat-radio-group>
</div>
