.answers-multi-select-container {

}

::ng-deep .answers-multi-select-container .mat-checkbox .mat-checkbox-frame {
  background-color: white;
  border-color: black;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--blue-color);
}

::ng-deep .mat-checkbox-checked .mat-checkbox-checkmark-path {
  stroke: white !important;
}

::ng-deep .mat-checkbox-label {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.checkbox-answer-container {
  padding: 5px;
}

.checkbox-answer-container:hover {
  background-color: var(--blue-color);
  border-radius: 25px;
  color: white;
}

