<div class="answers-multi-select-container">
  <div *ngFor="let answer of answers" class="checkbox-answer-container">
    <mat-checkbox (change)="onChange(answer.key)">
      <div>{{answer.text}}</div>
    </mat-checkbox>
    <br/>
  </div>
</div>
