.home-alert-container {
  background-color: white;
  margin: 10px 15px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
}

.title {
  background-color: orange;
  color: black;
  padding: 5px;
  text-align: center;
}

.extend-button {
  line-height: 20px;
  margin-right: 10px;
  position: absolute;
}

.content {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 10px;
  background-color: var(--gray-color-light);
  min-height: 30px;
}

.show-more {
  padding: 5px;
  text-align: center;
  background-color: white;
  color: var(--blue-color-dark);
}

.content-wrap {
  display: flex;
  flex-direction: column;
}

.no-content-text {
  display: flex;
  flex: 1;
  margin-top: 5px;
  color: var(--default-text-color);
  justify-content: center;
}
