<div class="home-alert-container">
  <div class="title">
    {{'app.home.item.alert.title' | translate}}
    <button class="extend-button" mat-button (click)="extend()"> {{show ? '-' : '+'}}</button>
  </div>

  <div class="content-wrap" *ngIf="show">
    <div class="content">

      <div *ngIf="information.length ===  0" class="no-content-text">
        No informations
      </div>

      <ul *ngIf="information.length > 0">
        <li *ngFor="let info of information">
          {{info.text}} - <a href="{{info.link.link}}">{{info.link.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
