<div class="questionnaire-container">

  <div class="questionnaire-title-container">
      <button class="darkGrayButton questionnaire-title-button-done" mat-button (click)="collectAndSendAnswers()">
        {{'app.button.label.done' | translate}}
      </button>
      <button class="darkGrayButton questionnaire-title-button-close" mat-button (click)="safelyRedirectToHomePage()">
        {{'app.button.label.close' | translate}}
      </button>
    {{questionnaireName}}
  </div>

  <div class="questionnaire-questions">
    <div *ngFor="let question of questions">
      <app-question [question]="question"
                    [userAnswerData]="userAnswerData"
      ></app-question>
    </div>
  </div>

</div>
