.questionnaire-container {
  background-color: var(--main-background-color);
  min-height: 100vh;
  height: auto;
}

.questionnaire-questions {
  margin: 0 auto;
  width: 50%;
}

.questionnaire-title-container {
  background-color: var(--blue-color);
  color: white;

  padding: 8px;

  min-height: 30px;

  text-align: center;
  vertical-align: middle;
  line-height: 36px;

  top: 0;
  z-index: 1;
}

.questionnaire-title-button-done {
  display: inline-block;
  float: right;
}

.questionnaire-title-button-close {
  display: inline-block;
  float: left;
}

