.lesson-item-question-solve-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 5px;
}

.lesson-item-name {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: var(--blue-color);
  padding: 5px;
  color: white;
  border-bottom: 1px solid black;
}

.lesson-item-content {
  user-select: none;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.question-answer-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
}

.question-answer-content-wrap {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.question-answer {
  display: flex;
  flex: 1;
  margin: 5px;
}
