<div class="lesson-item-question-solve-container">
  <div class="lesson-item-name">
    {{content.question}}
  </div>

  <div class="lesson-item-content">
    <div class="question-answer-wrap">
      <mat-radio-group *ngIf="!content.multiAnswer">
        <div
          class="question-answer-content-wrap"
          *ngFor="let answer of content.answers">
          <mat-radio-button
            class="question-answer"
            [value]="answer.id"
            (change)="onQuestionEditRadioButton($event.value)">
            {{answer.answer}}
          </mat-radio-button>
        </div>
      </mat-radio-group>

      <section *ngIf="content.multiAnswer">
        <div
          class="question-answer-content-wrap"
          *ngFor="let answer of content.answers">
          <mat-checkbox
            class="question-answer"
            [value]="answer.id.toString()"
            (change)="onQuestionEditCheckbox(+$event.source.value)">
            {{answer.answer}}
          </mat-checkbox>
        </div>
      </section>
    </div>
  </div>
</div>
