<div class="course-base-container">
  <div class="course-base-title-wrap">
    <div class="course-base-title">
      <a (click)="redirectToCourse()">{{course?.name}}</a>
      <div class="course-base-title-edit" (click)="showEditToggle()" *ngIf="editMode">
        <mat-icon *ngIf="!showEditView" [matTooltip]="'Show edit view'">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="showEditView" [matTooltip]="'Hide edit view'">keyboard_arrow_up</mat-icon>
      </div>
    </div>

    <div class="course-base-title-edit-inputs">
      <div class="course-base-inputs" *ngIf="showEditView">
        <div class="course-base-inputs-wrap">
          <mat-form-field>
            <mat-label>
              {{"app.course.table.header.name.label" | translate}}
            </mat-label>
            <input matInput #name [value]="course?.name">
          </mat-form-field>
          <mat-form-field class="subjects-select">
            <mat-label>
              {{"app.course.table.header.subject.label" | translate}}
            </mat-label>
            <mat-select #subject [value]="course?.subjectId">
              <mat-option
                *ngFor="let subject of subjects"
                [value]="subject?.subjectId"
                class="add-new-course-subject-select">
                {{subject?.subjectName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Choose a start date</mat-label>
            <input matInput
                   [matDatepicker]="startDatePicker"
                   #startDate
                   [defaultValue]="formatDateToString(course?.start)">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Choose a end date</mat-label>
            <input matInput
                   [matDatepicker]="endDatePicker"
                   #endDate
                   [defaultValue]="formatDateToString(course?.end)">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button
                    class="lightBlueButton"
                    matTooltip='{{"app.course.button.create.new.label" | translate}}'
                    (click)="addNewCourse(name.value, subject.value, startDate.value, endDate.value)">
              save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="course-base-content-wrap">
    <div class="course-base-left-list">

      <app-course-list-vertical *ngIf="!editMode && loadData"
                                courseId="{{courseId}}"
      ></app-course-list-vertical>

      <app-course-lesson-list-edit *ngIf="editMode"
                                   courseId="{{courseId}}"
      ></app-course-lesson-list-edit>

    </div>
    <div class="course-base-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
