.course-base-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: stretch;
}

.course-base-title-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--blue-color);
  color: white;
}

.course-base-title {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 5px;
}

.course-base-title-edit {
  display: flex;
  cursor: pointer;
  user-select: none;
}

.course-base-title-edit-inputs {
  display: flex;
  flex: 1;
  align-items: center;
}

.course-base-inputs {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-items: center;
  border-top: 1px solid black;
  padding: 5px;
  background-color: white;
  color: black;
}

.course-base-inputs-wrap {
  display: flex;
  margin: auto;
  align-items: center;
}

.course-base-inputs-wrap mat-form-field {
  margin: 5px;
}

.course-base-edits {
  display: flex;
  flex: 1;
  color: white;
}

.course-base-title a {
  margin: auto;
  padding: 10px;
  box-shadow: inset 0px 0px 6px 2px var(--shadow-color);
  border-radius: 25px;
}

.course-base-title a:hover {
  background-color: #4a95ff;
  cursor: pointer;
  border-radius: 25px;
}

.course-base-content-wrap {
  margin: 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
}

.course-base-left-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
}

.course-base-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--gray-color-light);
}
