.courses-lesson-list-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 200px;
}

.course-no-lesson {
  color: #8e8e8e;
}

.courses-lesson-list-menu {
  margin-left: -10px;
  margin-top: -30px;
  user-select: none;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 -5px 5px -5px var(--shadow-color);
  display: flex;
  align-items: center;
  padding: 5px;
  align-self: flex-start;
  justify-content: center;
}

.courses-lesson-list-menu-item {
  display: flex;
  cursor: pointer;
  padding: 3px;
  border-radius: 50%;
}

.courses-lesson-list-menu-item:hover {
  background-color: var(--gray-color-light);
}

.courses-lesson-list-menu-new-button {
  color: var(--blue-color-dark);
}

.course-lesson-wrap {
  display: flex;
  flex: 1;
  margin: 5px;
  flex-direction: row;
}

.course-lesson-delete {
  display: flex;
  align-items: center;
  color: var(--blue-color-dark);
  border-radius: 50%;
  padding: 5px;

}

.course-lesson-delete:hover {
  background-color: var(--gray-color-light);
  cursor: pointer;
}

.course-lesson-name {
  display: flex;
  flex: 1;
}

.course-lesson-name:not(.active):hover {
  background-color: #f1f0f0;
  box-shadow: 0px 0px 6px 2px var(--shadow-color);
}

.course-lesson-name button {
  display: flex;
  flex: 1;
}

.active {
  background-color: var(--blue-color-dark);
  color: white;
}
