<div class="courses-lesson-list-container">
  <div class="courses-lesson-list-menu">
    <div class="courses-lesson-list-menu-item courses-lesson-list-menu-new-button"
         (click)="openAddNewLessonDialog()">
      <mat-icon>
        add
      </mat-icon>
    </div>
  </div>

  <div *ngIf="!courseLessonList || courseLessonList.length === 0" class="course-no-lesson">
    No lessons
  </div>

  <div *ngFor="let lesson of courseLessonList" class="course-lesson-wrap">
    <div class="course-lesson-delete" (click)="deleteLesson(lesson.id)">
      <mat-icon>remove</mat-icon>
    </div>
    <div class="course-lesson-name" [ngClass]="{active: activeLesson === lesson.id}">
      <button mat-button
              (click)="redirectToLesson(lesson.id)">{{lesson.name}}</button>
    </div>
  </div>
</div>
