<!--<div *ngIf="visibleSpinner" class="full-window-spinner">-->
<!--  <mat-spinner></mat-spinner>-->
<!--</div>-->

<div class="registration-container">

  <div class="title">
    {{'app.authorization.registration' | translate}}
  </div>

  <div class="input-container">
    <div class="user-input">
      <mat-form-field class="example-full-width">
        <mat-label class="loginLabel">{{'app.authorization.userName' | translate}}</mat-label>
        <input #usernameInput type="text" matInput placeholder="{{'app.authorization.unPlaceHolder' | translate}}">
      </mat-form-field>
    </div>
    <div class="error-container">
      <p class="warning-alert" *ngIf="  !(isUsernameEmpty)">This field is empty</p>
    </div>
    <div class="user-input">
      <mat-form-field class="example-full-width">
        <mat-label class="loginLabel">{{'app.authorization.email' | translate}}</mat-label>
        <input #emailInput matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="error-container">
      <p class="warning-alert" *ngIf="  !(isEmailEmpty)">This field is empty</p>
    </div>
    <div class="user-input">
      <mat-form-field class="example-full-width">
        <mat-label class="loginLabel">{{'app.authorization.password' | translate}}</mat-label>
        <input #passwordInput type="password" matInput
               placeholder="{{'app.authorization.passPlaceHolder' | translate}}">
      </mat-form-field>
    </div>
    <div class="error-container">
      <p class="warning-alert" *ngIf="  !(isPasswordEmpty)">This field is empty</p>
    </div>
    <div class="user-input">
      <mat-form-field class="example-full-width">
        <mat-label class="loginLabel">{{'app.authorization.password2' | translate}}</mat-label>
        <input #repeatedPass type="password" matInput placeholder="{{'app.authorization.passPlaceHolder' | translate}}">
      </mat-form-field>
    </div>
    <div class="error-container">
      <p class="warning-alert" *ngIf="  !(isPassMatch)">Passwords doesn't match</p>
    </div>
  </div>

  <div class="button-container">
    <button class="button" mat-button color="primary"
            (click)="register(usernameInput.value, emailInput.value, passwordInput.value, repeatedPass.value)">{{'app.button.label.register' | translate}}</button>
  </div>
  <!--  <p *ngIf="!isAuthorizationComplete">Wrong username or password</p>-->

</div>

