.warning-alert {
  color: red;
}

.title {
  background-color: var(--blue-color);
  color: white;
  padding: 10px;
  border-bottom: 1px solid black;
}

.authorization-container {
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
  text-align: center;
  min-width: 200px;
  width: 350px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: auto;
  top: 25%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.input-container {
  background-color: var(--gray-color-light);
  padding: 10px;
}

.user-input {

}

.loginLabel {
  color: #000000;
}

.button-container {
  border-top: 1px dotted gray;
  padding: 10px;
  height: 36px;
}

.login-button {
  float: right;
  display: inline-block;
}

.register-button {
  float: left;
  display: inline-block;
}

p {
  color: red;
}


::placeholder {
  color: #616161;
}

::ng-deep .mat-form-field .mat-form-field-empty {
  color: black;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: #484a4c;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: black;
}
/* Change label color on focused */
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: black;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #000000;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black;
}

.error-container {
}
