<div class="authorization-container" (keyup.enter)="login(usernameInput.value, passwordInput.value)" >
  <div class="title">
    Login
  </div>

  <div class="input-container">
    <div class="user-input">
      <mat-form-field>
        <mat-label class="loginLabel">{{'app.authorization.userName' | translate}}</mat-label>
        <input #usernameInput type="text" matInput placeholder="{{'app.authorization.userName' | translate}}"/>
      </mat-form-field>
    </div>
    <div class="user-input">
      <mat-form-field>
        <mat-label class="loginLabel">{{'app.authorization.password' | translate}}</mat-label>
        <input #passwordInput type="password" matInput placeholder="{{'app.authorization.password' | translate}}"/>
      </mat-form-field>
    </div>
    <div class="error-container">
      <p class="warning-alert" *ngIf="  !(isAuthorizationComplete)">Wrong username or password</p>
    </div>
  </div>

  <div class="button-container">
    <button class="lightBlueButton login-button" mat-button (click)="login(usernameInput.value, passwordInput.value)"
    >{{'app.button.label.login' | translate}}</button>
    <button class="lightBlueButton register-button" mat-button (click)="register()">{{'app.button.label.register' | translate}}</button>
  </div>
</div>

