
.content table {
  border-collapse: collapse;
}

.content .table table, th, td {
  border: 1px solid black;
}

.content .table td, th {
  padding: 10px;
}

.content .table th {
  font-weight: bold;
  background-color: var(--gray-color-light);
  color: black;
}

/*for visual*/
.content .visual ul {
  border-radius: 10px;
  border: 3px dotted var(--blue-color);
  background-color: #63a0ff;
}

.content .visual ol {
  border-radius: 10px;
  border: 3px dotted var(--blue-color);
  background-color: #63a0ff;
}

.content .visual table tr {
  background-color: #cae8ff;
}

.content .visual table tr:nth-child(odd) {
  background-color: #ade3ff;
}

.content .visual p {
  padding: 3px;
  border: 1px solid var(--blue-color);
  border-radius: 10px;
  background-color: #ddeeff;
}

.content .visual h2 {
  color: #78dcff;
}

.content .visual h3 {
  color: #8fe3ff;
}

.content .visual h4 {
  color: #ade3ff;
}
