.home-item-container {
  background-color: white;
  margin: 10px 15px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 5px;
  text-align: center;
  background-color: var(--blue-color-dark);
  color: white;
  border-bottom: 1px solid black;
}

.content {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 10px;
  background-color: var(--gray-color-light);
  border-bottom: 1px dotted black;
}

.show-more {
  padding: 5px;
  text-align: center;
  background-color: white;
  color: var(--blue-color-dark);
}

.content-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
