<div class="home-item-container">
  <div class="title">{{title}}</div>

  <div class="content-wrap">
    <div class="content">
      <ng-content></ng-content>
    </div>

    <div class="show-more">
      <button mat-button routerLink="{{link}}">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
  </div>
</div>
