<div class="lesson-item-text-solve-container">

  <div class="lesson-item-text-name">
    <mat-icon class="button-raw" *ngIf="hasAdminPermission()" (click)="rawToggle()">
      highlight_alt
    </mat-icon>
    <div class="button-raw">
      {{lesson?.title}}
    </div>
    <div class="personality-icon">
      <ng-container [ngSwitch]="getUserType()">
        <mat-icon *ngSwitchCase="'AURAL'">
          hearing
        </mat-icon>

        <mat-icon *ngSwitchCase="'VISUAL'">
          visibility
        </mat-icon>

        <mat-icon *ngSwitchCase="'KINESTHETIC'">
          pan_tool
        </mat-icon>
      </ng-container>
    </div>
  </div>

  <div class="lesson-item-text-content">
    <app-course-item-text-solve-inner
      *ngIf="!raw"
      [content]="lesson?.content.join('')">
    </app-course-item-text-solve-inner>

    <div *ngIf="raw">{{lesson?.content}}</div>
  </div>
  <ng-container *ngIf="getUserType() === 'AURAL'">
    <button mat-raised-button (click)="speech()" *ngIf="!speaking">
      <mat-icon>
        record_voice_over
      </mat-icon>
    </button>
    <button mat-raised-button (click)="cancel()" *ngIf="speaking">
      <mat-icon>
        voice_over_off
      </mat-icon>
    </button>
  </ng-container>
</div>

