.lesson-item-text-solve-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 5px;
}

.lesson-item-text-name {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: var(--blue-color);
  padding: 5px;
  color: white;
  border-bottom: 1px solid black;
}

.lesson-item-text-content {
  display: flex;
  flex: 1;
  padding: 5px;
}

.button-raw {
  cursor: pointer;
}

.personality-icon {
  display: flex;
  margin-left: auto;
}
