.lesson-item-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 5px;
}

.lesson-item-name {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: var(--blue-color);
  padding: 5px;
  color: white;
  border-bottom: 1px solid black;
}

.lesson-item-content {
  user-select: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  border-bottom: 1px dotted black;
}

.question-settings {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 5px;
  color: black;
  background-color: var(--gray-color-light);
  border-bottom: 1px solid black;
}

.question-settings-item {
  display: flex;
  margin-right: 5px;
}

.question-answer-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
}

.question-answer-content-wrap {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.question-answer-icon {
  display: flex;
  align-items: center;
  color: var(--blue-color-dark);
  border-radius: 50%;
  padding: 5px;
}

.question-answer-icon:hover {
  background-color: var(--gray-color-light);
  cursor: pointer;
}

.question-answer {
  display: flex;
  flex: 1;
  margin: 5px;
}

.question-new-answer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-items: center;
  align-items: center;

}

.add-new-answer {
  display: flex;
  padding: 5px;
  flex: 1;
  color: black;
}

.lesson-item-footer {
  display: flex;
  flex-direction: row;
}

.lesson-item-buttons {
  display: flex;
  margin-left: auto;
}

.lesson-item-buttons button {
  margin: 5px;
  margin-left: 0px;
}

.lesson-item-buttons-save-wrap {
  display: flex;
  flex-direction: row;
}

.lesson-item-warning {
  display: flex;
  color: var(--default-text-color);
  align-items: center;
}

.full-with-input {
  width: 100%;
}

.lesson-add-new-text-option-wrap {
  margin-left: 10px;
  display: flex;
}

/* input color class */
.lesson-item-name ::ng-deep input.mat-input-element {
  color: white;
  caret-color: white;
}

/* Change label color on focused */
.lesson-item-name ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}

/* Change label color */
.lesson-item-name ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white;
}

/* underline border color on focused */
.lesson-item-name ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: white;
}

.lesson-item-name ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}

.lesson-item-name ::ng-deep .mat-input-underline {
  background-color: white;
}

.lesson-item-name ::ng-deep .mat-error {
  color: white;
}

/* input color class */
.add-new-answer ::ng-deep input.mat-input-element {
  color: #000000;
  caret-color: #000000;
}

/* Change label color on focused */
.add-new-answer ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #000000;
}

/* Change label color */
.add-new-answer ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #000000;
}

/* underline border color on focused */
.add-new-answer ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #000000;
}

.add-new-answer ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #000000;
}

.add-new-answer ::ng-deep .mat-input-underline {
  background-color: #000000;
}

.add-new-answer ::ng-deep .mat-error {
  color: #000000;
}
