<div class="lesson-item-container">

  <div class="lesson-item-name">
    <mat-form-field class="full-with-input">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="question.question" [formControl]="title" (input)="onChange()">
      <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-icon *ngIf="changed">warning</mat-icon>
  </div>

  <div class="lesson-item-content">
    <div class="question-settings">
      <section class="question-settings-item">
        <mat-slide-toggle
          [checked]="question.multiAnswer"
          (change)="multiAnswerToggle(); onChange()">
          Multi answers
        </mat-slide-toggle>
      </section>
    </div>
    <div class="question-answer-wrap">
      <mat-radio-group *ngIf="!question.multiAnswer">
        <div
          class="question-answer-content-wrap"
          *ngFor="let answer of question.answers"
        >
          <mat-icon
            class="question-answer-icon"
            (click)="removeAnswer(answer.id)"
          >remove
          </mat-icon>
          <mat-radio-button
            class="question-answer"
            [checked]="answer.isCorrect"
            [value]="answer.id"
            (change)="onChange(); radioCorrectChange(answer.id)"
          >
            {{answer.answer}}
          </mat-radio-button>
        </div>
      </mat-radio-group>
      <section *ngIf="question.multiAnswer">
        <div
          class="question-answer-content-wrap"
          *ngFor="let answer of question.answers"
        >
          <mat-icon
            class="question-answer-icon"
            (click)="removeAnswer(answer.id)"
          >remove
          </mat-icon>
          <mat-checkbox
            class="question-answer"
            [checked]="answer.isCorrect"
            [value]="answer.id.toString()"
            (change)="onChange(); checkboxCorrectChange(answer.id)"
          >
            {{answer.answer}}
          </mat-checkbox>
        </div>
      </section>
      <div class="question-new-answer">
        <mat-icon
          class="question-answer-icon"
          (click)="onChange(); addNewAnswer(newAnswer.value)"
        >add
        </mat-icon>
        <div class="add-new-answer">
          <mat-form-field class="full-with-input">
            <mat-label>New Answer</mat-label>
            <input matInput #newAnswer (change)="onChange()">
            <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="lesson-item-footer">
    <div *ngIf="changed" class="lesson-item-warning">
      Save your changes...
    </div>
    <div class="lesson-item-buttons">
      <button mat-button class="lightBlueButton" (click)="onDeleteClick()">
        Delete
      </button>
      <button mat-button class="lightBlueButton" (click)="onSaveClick()">
        Save
      </button>
    </div>
  </div>

</div>
<!--todo merge question and text model into base with ng-content-->
