.course-data-container {
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
  display: block;
  margin: 10px auto;
  max-width: 50%;
}

.course-title {
  background: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.course-title-data {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-right: 1px solid black;
}

.course-title-name {
  padding: 5px;
  background-color: var(--blue-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-title-subject:hover {
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
  cursor: pointer;
}
.course-title-subject {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.course-title-button {
  display: flex;
  background-color: var(--blue-color);
}

.course-title-button:not(:last-child) {
  border-right: 1px solid black;
}

.course-content {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-color-light);
  border-bottom: 1px dotted black;
}

.course-teacher-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.teacher-image {
  padding: 10px;
  display: flex;
  border-right: 1px dotted black;
}

.teacher-image img {
  display: block;
  margin: auto;
  border: 1px solid black;
}

.teacher-image img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
}

.teacher-data {
  padding: 10px;
  flex: 75%;
}

.teacher-data-item {
}

.course-description {
  display: flex;
  flex-direction: column;
}

.course-description-item {
  background-color: #bfbfbf;
  height: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
}

.course-description-item:nth-child(even) {
  background-color: var(--gray-color-light);
}

.course-ranking {
  background-color: white;
  color: gold;
  text-shadow: 1px 1px black;
  display: flex;
}

.course-ranking-stars {
  user-select: none;
  margin-left: auto;
  margin-right: 20px;
}

.course-ranking-stars mat-icon:hover {
  cursor: pointer;
  text-shadow: 1px 1px 8px black;
}

.rating-list li {
  color: #ddd;
}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

.course-ranking-stars ul {
  margin: 0;
  padding: 0;
}
