<div class="course-data-container">

  <div class="course-title">
    <div class="course-title-data">
      <div class="course-title-name">
        {{(courseDataModel$ | async)?.name}}
      </div>
      <div></div>
      <div class="course-title-subject" *ngIf="(subjectDataModel$ | async) as subjectModel"
           (click)="redirectToSubject(subjectModel?.subjectId)">
        {{(subjectDataModel$ | async)?.subjectName}}
      </div>
    </div>

    <div class="course-title-button" *ngIf="hasTeacherPermission()">
      <button mat-button class="lightBlueButton" routerLink="/courses/{{courseId}}/edit">
        Edit
      </button>
    </div>

    <div class="course-title-button" *ngIf="hasTeacherPermission()">
      <button mat-button class="lightBlueButton" (click)="stopCourse()"> Stop</button>
    </div>

    <div class="course-title-button" *ngIf="hasTeacherPermission()">
      <button mat-button class="lightBlueButton" (click)="deleteCourse()"> Delete</button>
    </div>

    <div class="course-title-button">
      <button mat-button class="lightBlueButton" routerLink="/courses/{{courseId}}/solve">
        start
      </button>
    </div>
  </div>

  <div class="course-content">
    <div class="course-teacher-info">
      <div class="teacher-image">
        <img src="/assets/img/examople_foto.png" alt="Teacher '{{(teacherDataModel$ | async)?.name}}' image">
      </div>
      <div class="teacher-data">
        <div class="teacher-data-item">User name: {{(teacherDataModel$ | async)?.name}}</div>
        <div class="teacher-data-item">E-mail: {{(teacherDataModel$ | async)?.email}}</div>
      </div>
    </div>
    <div class="course-description">
      <div class="course-description-item">Subject name:&nbsp;
        <a routerLink="/subjects/{{(subjectDataModel$ | async)?.subjectId}}">
          {{ (subjectDataModel$ | async)?.subjectName}}
        </a>
      </div>
      <div class="course-description-item">Course name: {{(courseDataModel$ | async)?.name}}</div>
      <div class="course-description-item">Course questions: {{(courseDataModel$ | async)?.questionsCount}}</div>
      <div class="course-description-item">Start date: {{formatTime((courseDataModel$ | async)?.start)}}</div>
      <div class="course-description-item">End date: {{formatTime((courseDataModel$ | async)?.end)}}</div>
      <div class="course-description-item">Course max points: {{(courseDataModel$ | async)?.maxPoints}}</div>
      <div class="course-description-item">Course description: {{(courseDataModel$ | async)?.description}}</div>
    </div>
  </div>

  <div class="course-ranking">
    <div class="course-ranking-stars">
      <ul class="rating-list"
          *ngFor="let star of stars" style="display: inline-block">
        <li (click)="countStar(star)"
            [ngClass]="{'selected': (star <= selectedValue)}">
          <mat-icon matTooltip="{{star}}">star</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
