::ng-deep.mat-dialog-container {
  padding: 0;
  border-radius: 25px;
}

.dialog-title {
  background-color: var(--blue-color-dark);
  color: white;
  border-bottom: 1px solid black;
  padding: 5px;
  text-align: center;
}

.dialog-content {
  background-color: var(--gray-color-light);
  border-bottom: 1px dotted black;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 300px;
}

.dialog-input-wrap {
  display: flex;
  flex: 1;
  padding: 5px;
}

.dialog-input {
  width: 100%;
}

.dialog-footer {
  background-color: white;
  padding: 10px;
}

.dialog-button-cancel {
  margin-left: 5px;
}

.dialog-button-ok {
  float: right;
  margin-right: 5px;
}

/* input color class */
.dialog-input-wrap ::ng-deep .mat-form-field .mat-form-field-empty {
  color: black;
}

/* input color class */
.dialog-input-wrap ::ng-deep input.mat-input-element {
  color: #484a4c;
  caret-color: #000000;
}

/* Change label color on focused */
.dialog-input-wrap ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: black;
}

/* Change label color on focused */
.dialog-input-wrap ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: black;
}

/* underline border color on focused */
.dialog-input-wrap ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #000000;
}

.dialog-input-wrap ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black;
}
