<div class="dialog-container">
  <div class="dialog-title">{{data.title}}</div>
  <div class="dialog-content">
    <div *ngFor="let input of data.content" class="dialog-input-wrap">
      <mat-form-field class="dialog-input">
        <mat-label>{{input.label}}</mat-label>
        <input matInput [(ngModel)]="input.value">
      </mat-form-field>
    </div>
  </div>
  <div class="dialog-footer">
    <button mat-button class="lightBlueButton dialog-button-cancel" (click)="onCancel()">Cancel</button>
    <button mat-button class="lightBlueButton dialog-button-ok" [mat-dialog-close]="returnInputs()">Ok</button>
  </div>
</div>
