.questionnaire-container {
  margin: 15px 10px;
  box-shadow: 0px 0px 25px 4px var(--shadow-color);
  border-radius: 25px;
  overflow: hidden;
}

.questionnaire-header {
  background-color: var(--blue-color);
  padding: 10px;
  border-bottom: 1px solid black;
}

.question-number {
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
  height: 25px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  border: 1px solid var(--shadow-color);
  margin: 0 5px 5px 0;
}

.question-description {
  display: inline;
  color: white;
}

.questionnaire-body {
  background-color: var(--gray-color-light);
  color: black;
  padding: 5px;
}

.question-answer-wrap {
  background-color: var(--gray-color-light);
  padding: 10px;
}

.questionnaire-footer {
  background-color: white;
  border-top: 1px dotted gray;
  min-height: 20px;
  text-align: right;
}

.question-footer-points {
  display: inline-block;
  margin-right: 15px;
}
