<div class="questionnaire-container">

  <div class="questionnaire-header">
    <div class="question-number" [style]="getDifficultyColor()">{{question.nr}}</div>
    <div class="question-description">{{question.description}}</div>
  </div>

  <div class="questionnaire-body">
    <div class="question-answer">
      <div [ngSwitch]="question.type">
        <app-question-open *ngSwitchCase="questionTypes.OPEN"
                           [data]="question.openTypeData"
                           [userAnswerData]="userAnswerData"
                           [questionId]="question.nr"
        ></app-question-open>
        <app-question-closed *ngSwitchCase="questionTypes.CLOSE"
                             [data]="question.closeTypeData"
                             [userAnswerData]="userAnswerData"
                             [questionId]="question.nr"
        ></app-question-closed>
      </div>
    </div>
  </div>

  <div class="questionnaire-footer">

  </div>

</div>
