<div class="lesson-item-container">

  <div class="lesson-item-name">
    <mat-form-field class="full-with-input">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="lesson.title" [formControl]="title" (input)="onChange()">
      <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-icon *ngIf="changed">warning</mat-icon>
  </div>

  <div class="lesson-item-content">
    <ckeditor #myEditor [editor]="Editor" data="{{data}}" (change)="onChange()"></ckeditor>
  </div>

  <div class="lesson-item-footer">
    <div *ngIf="changed" class="lesson-item-warning">
      Save your changes...
    </div>
    <div class="lesson-item-buttons">
      <button mat-button class="lightBlueButton" (click)="onDeleteClick()">
        Delete
      </button>
      <button mat-button class="lightBlueButton" (click)="onSaveClick()">
        Save
      </button>
    </div>
  </div>

</div>
