.lesson-item-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 5px;
}

.lesson-item-name {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: var(--blue-color);
  padding: 5px;
  color: white;
  border-bottom: 1px solid black;
}

.lesson-item-content {
  padding: 5px;
  border-bottom: 1px dotted black;
}

.lesson-item-footer {
  display: flex;
  flex-direction: row;
}

.lesson-item-buttons {
  display: flex;
  margin-left: auto;
}

.lesson-item-buttons button {
  margin: 5px;
  margin-left: 0px;
}

.lesson-item-buttons-save-wrap {
  display: flex;
  flex-direction: row;
}

.lesson-item-warning {
  display: flex;
  color: var(--default-text-color);
  align-items: center;
}

.full-with-input {
  width: 100%;
}

.lesson-add-new-text-option-wrap {
  margin-left: 10px;
  display: flex;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: white;
  caret-color: white;
}

/* Change label color on focused */
.lesson-item-name ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}

/* Change label color on focused */
.lesson-item-name ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white;
}

/* underline border color on focused */
.lesson-item-name ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: white;
}

.lesson-item-name ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}

.lesson-item-name ::ng-deep .mat-input-underline {
  background-color: white;
}

.lesson-item-name ::ng-deep .mat-error {
  color: white;
}
