.course-solve-container {
  display: flex;
  flex: 1;
}

.course-edit-select-lesson {
  display: flex;
  flex: 1;
  margin-top: 5px;
  color: var(--default-text-color);
  justify-content: center;
}

.course-solve-content-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content-title {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 5px;
  background-color: white;
  align-items: center;
  border-left: 1px dotted black;
}

.content-lesson-title {
  display: flex;
  flex: 1;
}

.content-lesson-button {

}

.content-data {
  padding: 5px;
}
