<app-course-base courseId="{{courseId}}" [editMode]="false">
  <div class="course-solve-container">
    <div *ngIf="!lessonId" class="course-edit-select-lesson">
      Pick lesson from left list to start
    </div>

    <div *ngIf="lessonId" class="course-solve-content-wrap">
      <div class="content-title">
        <div class="content-lesson-title">
          {{lessonInfo?.name}}
        </div>
        <div class="content-lesson-button">
          <button mat-button class="lightBlueButton" (click)="onSave()">
            Save
          </button>
        </div>
      </div>

      <div class="content-data">
        <div *ngIf="!lessonContent || lessonContent.length == 0" class="no-lesson-components">
          No items, add new Question or Text item.
        </div>

        <div *ngFor="let content of lessonContent">

          <app-course-item-text-solve
            *ngIf="content.type == 'TEXT'"
            [lessonTextModel]="content.item">
          </app-course-item-text-solve>

          <app-course-item-question-solve
            *ngIf="content.type == 'QUESTION'"
            [content]="content.item"
            (answered)="onAnswer($event)">
          </app-course-item-question-solve>

        </div>
      </div>

      <div class="content-title">
        <div class="content-lesson-title">
          {{lessonInfo?.name}}
        </div>
        <div class="content-lesson-button">
          <button mat-button class="lightBlueButton" (click)="onSave()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</app-course-base>
