.course-edit-container {
  display: flex;
  flex: 1;
}

.course-edit-select-lesson {
  display: flex;
  flex: 1;
  margin-top: 5px;
  color: var(--default-text-color);
  justify-content: center;
}

.course-edit-content-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.lesson-menu-wrap {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-left: 1px dotted black;
}

.course-lesson-label {
  display: flex;
  flex: 1;
}

.lesson-label-save-button {
  display: flex;
  align-items: center;
  padding: 3px;
  user-select: none;
}

.lesson-label-save {
  display: flex;
  align-items: center;
  color: var(--blue-color-dark);
  border-radius: 50%;
  padding: 5px;
}

.lesson-label-save:hover {
  background-color: var(--gray-color-light);
  cursor: pointer;
}

.full-with-input {
  width: 100%;
}

.course-lesson-buttons {
  display: flex;
  margin-left: auto;
}

.lesson-menu-buttons-item {
  margin-left: 5px;
}

.lesson-content-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
}

.no-lesson-components {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: var(--default-text-color);
  margin: 10px 0px;
  justify-content: center;
  text-align: center;
}

/* input color class */
.course-lesson-label ::ng-deep input.mat-input-element {
  color: #000000;
  caret-color: #000000;
}

/* Change label color on focused */
.course-lesson-label ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #000000;
}

/* Change label color */
.course-lesson-label ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #000000;
}

/* underline border color on focused */
.course-lesson-label ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #000000;
}

.course-lesson-label ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #000000;
}

.course-lesson-label ::ng-deep .mat-input-underline {
  background-color: #000000;
}

.course-lesson-label ::ng-deep .mat-error {
  color: #000000;
}
