<app-course-base courseId="{{courseId}}" [editMode]="true">
  <div class="course-edit-container">

    <div *ngIf="!lessonId" class="course-edit-select-lesson">
      Pick lesson to edit from left list or create new one
    </div>

    <div *ngIf="lessonId" class="course-edit-content-wrap">

      <div class="lesson-menu-wrap">
        <div class="course-lesson-label">
          <mat-form-field class="full-with-input">
            <mat-label>Title</mat-label>
            <input matInput #lessonTitle value="{{lessonInfo?.name}}" (input)="onLessonTitleChangeToggle()">
          </mat-form-field>
          <div class="lesson-label-save-button" *ngIf="titleChanged">
            <mat-icon class="lesson-label-save" (click)="onLessonTitleSave(lessonTitle.value)">
              save
            </mat-icon>
          </div>
        </div>
        <div class="course-lesson-buttons">
          <button mat-button class="darkGrayButton lesson-menu-buttons-item">Add Text</button>
          <button mat-button class="darkGrayButton lesson-menu-buttons-item">Add Question</button>
        </div>
      </div>

      <div class="lesson-content-wrap">

        <div *ngIf="!lessonContent || lessonContent.length == 0" class="no-lesson-components">
          No items, add new Question or Text item.
        </div>

        <div *ngFor="let content of lessonContent">

          <app-course-item-text
            *ngIf="content.type == 'TEXT'"
            [lessonTextModel]="content.item"
            (onSave)="onItemSaveText($event)"
            (onDelete)="onItemDelete($event)">
          </app-course-item-text>

          <app-course-item-question
            *ngIf="content.type == 'QUESTION'"
            [lessonQuestionModel]="content.item"
            (onSave)="onItemSaveQuestion($event)"
            (onDelete)="onItemDelete($event)">
          </app-course-item-question>

        </div>
      </div>

      <div class="lesson-menu-wrap">
        <div class="course-lesson-label">
          <mat-form-field class="full-with-input">
            <mat-label>Title</mat-label>
            <input matInput #lessonTitleFooter value="{{lessonInfo?.name}}" (input)="onLessonTitleChangeToggle()">
          </mat-form-field>
          <div class="lesson-label-save-button" *ngIf="titleChanged">
            <mat-icon class="lesson-label-save" (click)="onLessonTitleSave(lessonTitleFooter.value)">
              save
            </mat-icon>
          </div>
        </div>
        <div class="course-lesson-buttons">
          <button mat-button class="darkGrayButton lesson-menu-buttons-item" (click)="addNewTextItem()">
            Add Text
          </button>
          <button mat-button class="darkGrayButton lesson-menu-buttons-item" (click)="addNewQuestionItem()">
            Add Question
          </button>
        </div>
      </div>

    </div>
  </div>
</app-course-base>
