<div class="question-answer-wrap">
  <!--  todo add i18n-->
  choose answer
  <!--  todo make it look better-->
  <app-closed-question-answer *ngIf="!questionData.oneAnswerCorrect"
                              [data]=questionData.answers
                              [userAnswerData]="userAnswerData"
                              [questionId]="questionId"
  ></app-closed-question-answer>

  <app-closed-question-answer-multi *ngIf="questionData.oneAnswerCorrect"
                                    [data]=questionData.answers
                                    [userAnswerData]="userAnswerData"
                                    [questionId]="questionId"
  ></app-closed-question-answer-multi>
</div>

